/* variables */

$bg-color-general: rgb(255, 230, 89);
$font-size: 25px;

// Variable overrides first
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

// Variable overrides first
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";
